<div class="search-container">
    <div class="poke-filters">
        <!-- Material UI elements : -->
        <mat-form-field style="width: 100%;">
            <mat-label>Filter id</mat-label>
            <input matInput placeholder="Ex. 1" [(ngModel)]="id_input">
        </mat-form-field>
    
        <mat-form-field style="width: 100%;">
            <mat-label>Filter name</mat-label>
            <input matInput placeholder="Ex. Bulbausaur" [(ngModel)]="name_input">
        </mat-form-field>
    </div>
    <div class="poke-selector">
        <div 
        *ngFor="let pokemon of pokemon_list | filterPokemonPipe : 'id' : id_input | filterPokemonPipe : 'nom' : name_input" 
        (click)="updatePokemonDisplayedOnClick(pokemon)"
        class="poke-option"
        [class.selected]="pokemon.id === selected_pokemon_id">
            <input
            type="radio"
            name="selectedItem"
            [value]="pokemon.id"
            style="display: none;"
            />
            <label style="cursor: pointer;">{{pokemon.id | idConvert}}⠀⠀{{pokemon.nom}}</label>
        </div>
    </div>
    <!-- <button [disabled]="selected_pokemon_id === undefined" (click)="handleClick()">Go !</button> -->
</div>