.search-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.poke-selector {
    margin: 5px;
    padding: 10px;
    flex-direction: column;
    overflow-y: scroll;
}

.poke-option {
    align-self: flex-start;
    width: 95%;
    cursor: pointer;
    text-align: left;
}

.poke-option:hover {
    cursor: pointer;
    background-color: rgba(168, 39, 39, 0.5);
}

.poke-option.selected{
    cursor: pointer;
    border: 2px black solid;
    margin-left: 3px;
    border-radius: 5px;
    background-color: rgba(206, 37, 37, 0.795);
    box-shadow: -3px 5px 3px rgba(0, 0, 0, 0.3);
}