<div class="search-container">
    <div class="poke-filters">
        <label>     
            Id :
            <input type="text" [(ngModel)]="id_input">
        </label>
        <label>
            Nom :
            <input type="text" [(ngModel)]="name_input">
        </label>
    </div>
        <div class="poke-selector">
            <div 
            *ngFor="let pokemon of pokemon_list | filterPokemonPipe : 'id' : id_input | filterPokemonPipe : 'nom' : name_input" 
            (click)="updatePokemonDisplayedOnClick(pokemon)"
            class="poke-option"
            [class.selected]="pokemon.id === selected_pokemon_id">
                <input
                type="radio"
                name="selectedItem"
                [value]="pokemon.id"
                style="display: none;"
                />
                <label style="cursor: pointer;">{{pokemon.id | idConvert}}⠀⠀{{pokemon.nom}}</label>
            </div>
        </div>
    <!-- <button [disabled]="selected_pokemon_id === undefined" (click)="handleClick()">Go !</button> -->
</div>