<div class="main-app">
  <div class="top-container">
    <h1>{{ title }}!</h1>
  </div>
  <div class="body-container">
    <div class="centered-container">
      <div class="left-part bordered">
        <app-search-component></app-search-component>
      </div>    
      <div class="right-part bordered">
        <!-- <app-display-component></app-display-component> -->
      </div>
    </div>
  </div>
  <div class="bottom-container">
    <h4>realized by Pierre TRETON</h4>
    <a href="https://github.com/" target=”_blank”>
      <h4>The git project</h4>
    </a>
  </div>
</div>