<div *ngIf="loading; else normaldisplay " class="loadingindicator">
    <h3>loading ...</h3>
</div>
<ng-template #normaldisplay>
    <div *ngIf="model !== undefined; else errordisplay" class="display-container">
        <h1 class="bordered">{{model.id | idConvert}}⠀⠀{{model.name}}</h1>
        <div class="top-part">
            <img class="front-img" [src]="model.sprites['front_default']" alt="">
            <div class="infos">
                <div class="types">
                    <div *ngFor="let type of model.types" class="type-card bordered">
                        <img [src]="'/assets/types/gen8/' + type.type.name + '.png'" 
                            class="type-img"
                            [alt]="'logo type '+type.type.name"
                            [title]="'type '+type.type.name">    
                        <p>{{type.type.name}}</p>
                    </div>      
                </div>            
                <div class="height-weight-infos bordered">
                    <h3>HT⠀⠀⠀{{model.height | heightConvertMeter}}</h3>
                    <div class="separator"></div>
                    <h3>WT⠀⠀⠀{{model.weight | weightConvertKg}}</h3>
                </div>
            </div>
        </div>
        <div class="bottom-part">
            <table>
                <thead>
                    <tr><th>statistic</th><th>value</th></tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stat of model.stats" class="stat-line">
                        <td>{{stat.stat.name}}</td><td>{{stat.base_stat}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-template #errordisplay>
        <div class="errorindicator">
            <h3>Error, couldn't retrieve Pokemon's information</h3>
        </div>
    </ng-template>
</ng-template>
